body{
    background-color: #F3E1E0;
}

.comingsoon{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}