* {
    box-sizing: border-box;
    padding:0;
  }
  
  body{
    margin:0;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
  }

  #showcase{
    background-image:url(../../public/img/blog/bg2.jpg);
    background-size:cover;
    background-position:center;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    /* border-radius: 70px; */
    /* margin: 3% 2% 3% 2%; */
}

#showcase h1{
    font-size:50px;
    font-weight: 700;
    line-height:1.2;
    color:white;
}

#showcase p{
    font-size:20px;
    font-weight: 700;
    color:white;
}


#buffer-1{
    padding:20px;
}

/* Float columns side by side (outside box)*/
.column {
    float: left;
    min-width: 50%;
    padding: 0 50px;
}

/* white space around the box*/
.row {
    margin: 0 -5px 30px -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1000px) {
.column {
    width: 100%;
    display: block;
    margin-bottom:20px;
}
}

/* Style the counter cards (inside box) */
.card {
    /* box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2); */
    padding: 150px;
    text-align: center;
    background-color: #E9F0F1;
    word-wrap: break-word;
    /* border-radius: 30px; */
}

h2{
    font-size: 50px;
    color: #6F7F81;
    font-weight: 700;
}

p{
    font-weight: 700;
    color:#6F7F81;
}

.card:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* Hover summary */

.all.active #showcase {
    opacity: 0.1;
}

.tile.active .card {
    opacity: .1;
  }

.all.active .card{
    opacity:0.1;
    visibility: visible;
    font-family: 'Quicksand', sans-serif;
    font-weight: 550;
    font-size: 20px;
}

.all.active .blog_img, .writing{
    display: flex;
    justify-content: center;
  
}
  
.all.active .writing{
    margin-top: 3%;
}


.blog_overlay {
      display:none;
      z-index:5;
      background:black;
}
.blog_post {
    right:0;
    position: fixed;
    display:none;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    overflow-y: auto;
    padding: 60px 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 550;
    font-size: 20px;
    color:#6F7F81;
}

.blog_close {
    position: absolute;
    right: 50px;
    font-size: 75px;
    cursor: pointer;
    top: 10px;
}

.writing{
    overflow-y:auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 550;
}


.column.active .blog_post,.column.active .blog_overlay {
    display:block;
}